Notebook companion for _**"Pandas Essentials"**_ modul

In [ ]:
#import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Series

##Creating Series

In [ ]:
#Empty Series
s = pd.Series(name = "Empty Series")
s

In [ ]:
#Create from Dictionary
d = {"apples": 10, "bananas": 20, "cherry": 50}
s = pd.Series(d, name="Fruit Series")
s

In [ ]:
#Create from file
filename = 'https://raw.githubusercontent.com/urfie/DataAnalytics/main/fruits_data.csv'
fs = pd.read_csv(filename, squeeze=True, index_col=0)
fs

##Series Operations

In [ ]:
#Series operations
fs['cherry']+=5        #updating an item
print('grape' in fs)     #check membership
print(fs/10)             #math operation
print(max(fs))            #max, min, avg

In [ ]:
#Operation between Series
qty = pd.Series({"apple":10, "banana":20, "cherry":50})
price = pd.Series({"apple":100, "banana":120, "cherry":500})

qty*price

In [ ]:
#implicit access
filename = 'https://raw.githubusercontent.com/urfie/DataAnalytics/main/fruits_data.csv'
fs = pd.read_csv(filename, squeeze=True, index_col=0)

print(fs)
print("\nvalue at integer location 2\t = ",fs[2]) 
print("value at index='banana'\t\t = ",fs['banana'])

In [ ]:
#Explicit access with loc & iloc
mynumbers = ['zero', 'one', 'two', 'three']
myindex = [2,6,5,4]
mySeries = pd.Series(data=mynumbers, index=myindex)
print(mySeries)

print("\nvalue at index=2\t\t=",mySeries.loc[2]) 
print("value at integer location=2\t=",mySeries.iloc[2])

#DataFrame

##Creating DataFrame

In [ ]:
#empty dataframe
s = pd.DataFrame()
s

In [ ]:
#create from dictionary
f = {'name':["apple","banana","cherry","pear"],
     'quantity':[10, 20, 50, 30],
     'price':[1000,500,750,900]}

pd.DataFrame(f)

In [ ]:
#create from dictionary of Series
s1 = pd.Series({"apple":10,"banana":20,
"cherry":50,"pear":30})
s2 = pd.Series({"apple":1000,"banana":500,
"cherry":750,"pear":900})
pd.DataFrame({"price":s1,"quantity":s2})

In [ ]:
#Loading from file
filename = 'https://raw.githubusercontent.com/urfie/DataAnalytics/main/fruits_data.csv'
df = pd.read_csv(filename)
df

##Quick Checking

In [ ]:
#DataFrame quick checking methods and attributes

f = {'name':["apple","banana","cherry","pear"],
     'quantity':[10, 20, 50, None],
     'price':[1000,500,750,900]}
df = pd.DataFrame(f, index=[5,6,7,8])

print("\nGet the first 10 rows : df.head()")
print(df.head())

print("\nGet the last 10 rows : df.tail()")
print(df.tail())

print("\nShow dataframe info : df.info()")
print(df.info())

print("\nShow dataframe shape : df.shape")
print(df.shape)

print("\nGet dataframe columns : df.columns")
print(df.columns)

###Descriptive Statistics

In [ ]:
print(df)
print("\nRow count :\n",df.count())
print("\nAverage of quantity :", df['quantity'].mean())
print("\nMin of price :", df['price'].min())
print("\nMax of name :", df['name'].max())

In [ ]:
#descriptive statistics
print("\nDescriptive statistics : df.describe()")
print(df.describe())

##Accessing DataFrame

In [ ]:
#Implicit access : df[]

f = {'name':["apple","banana","cherry","pear"],
     'quantity':[10, 20, 50, 30],
     'price':[1000,500,750,900]}
df = pd.DataFrame(f, index=[5,4,3,2])
print(df)

print("\nAccessing column : df['name']")
print(df["name"]) 

print("\nAccessing (slicing) by integer location : df[:2]")
print(df[:2])

In [ ]:
#explicit access : df.loc[]

f = {'name':["apple","banana","cherry","pear"],
     'quantity':[10, 20, 50, 30],
     'price':[1000,500,750,900]}
df = pd.DataFrame(f, index=[5,4,3,2])
print(df)

print("\nAccessing single index : df.loc[2")
print(df.loc[2])

print("\nAccessing single index, single column : df.loc[2,'price']")
print(df.loc[2,"price"])

print("\nAccessing slice of index, single column : df.loc[:2,'price']")
print(df.loc[:2,"price"])

print("\nAccessing list of indexes, list of columns : df.loc[[2,3],['price','name']]")
print(df.loc[[2,3],["price","name"]])

print("\nAccessing by boolean array (conditional access) : df.loc[df['price']<1000]")
print(df.loc[df["price"]<1000])

In [ ]:
#explicit access : df.iloc[]

f = {'name':["apple","banana","cherry","pear"],
     'quantity':[10, 20, 50, 30],
     'price':[1000,500,750,900]}
df = pd.DataFrame(f, index=[5,6,7,8])
print(df)

print("\nAccessing single row : df.iloc[2]")
print(df.iloc[2])

print("\nAccessing single element (single row, single column): df.iloc[2,2]")
print(df.iloc[2,2])

print("\nAccessing single row, slice of columns : df.iloc[2,:2]")
print(df.iloc[2,:2])

print("\nAccessing list of row location, list of column locations : df.iloc[[2,3],[0,2]]")
print(df.iloc[[2,3],[0,2]])

###Access by conditions

In [ ]:
df = pd.DataFrame({
    'name': ['apple', 'apple', 'pear', 'pear', 'banana','banana'],
    'color': ['red', 'green', 'green', 'yellow', 'yellow','yellow'],
    'qty': [4, 4, 5, 15, 15,13]
    })

print('Testing rows\n',df['qty']>4)
print('\nAccess using boolean list with df[]\n',df[[True,False]*3])
print('\nAccess using boolean list with df.loc[]\n',df.loc[[True,False]*3])


print("\nAccessing rows where qty > 4")
print(df[df["qty"]>4])

print("\nAccessing rows where qty > 4 OR name in a list")
print(df[(df["qty"]>4.0) |
         (df["name"].isin(["apple","banana"]))]
      )

print("\nAccessing rows where qty > 4 AND name in a list")
print(df.loc[(df["qty"]>4.0) &
          (df["name"].isin(["apple","banana"]))]
      )

##Missing Values

In [ ]:
df = pd.DataFrame({
    'name': ['apple', 'apple', 'pear', 'pear', 'banana','banana'],
    'color': ['red', 'green', np.nan, 'yellow', 'yellow',None],
    'qty': [4, 4, 5, 15, 15,np.nan]
    })
df

In [ ]:
#check null value
print("\nFind null values : df.isna() ")
print(df.isna())

print("\nFind non-null values : df.notna()")
print(df.notna())

print("\nFind null values in a column : df.color.isna()")
print(df.color.isna())

print("\nShow the number of null values in each column : df.isna().sum")
print(df.isna().sum())

In [ ]:
#filter rows with null/notnull value
print("Show rows where color is NULL")
print(df[df.color.isna()])

#print(df[df.color.notna()])
#print(df[df.color.isnull()])

print("\nShow rows where color is not NULL")
print(df[df.color.notnull()])

In [ ]:
#fill missing value with a default value
df.fillna(value=0)

In [ ]:
#fill missing value with other method
print("Fill null with the previous value")
print(df.fillna(method='bfill')) 

print("\nFill null with the next value")
print(df.fillna(method='ffill'))

In [ ]:
#drop rows with missing value
print("Drop row when any column is null")
print(df.dropna())

print("\nDrop row when all columns are null")
print(df.dropna(how='all'))

print("\nDrop row with minimal number of non null columns")
print(df.dropna(thresh=2))

print("\nDrop row with subset columns")
print(df.dropna(subset=['name','qty']))

##Updating DataFrame

###Adding new columns

In [ ]:
#adding new column 
df = pd.DataFrame({
    'name': ['apple', 'apple', 'pear', 'pear', 'banana','banana'],
    'color': ['red', 'green', 'green', 'yellow', 'yellow','yellow'],
    'qty': [4, 4, 5, 15, 15,13]
    })

rack_id = [10,11,10,12,10,9]

df['rack_id'] = rack_id #with assignment
df.insert(2, 'rack_id', rack_id, allow_duplicates=True) #with insert
df

###Delete columns/rows

In [ ]:
#drop column
print('\nDrop columns by setting axis=1')
print(df.drop(['rack_id', 'qty'], axis=1))

print('\nDrop columns by setting columns parameter')
print(df.drop(columns=['rack_id', 'qty'])) 

#drop rows
print('\nDrop rows by index')
print(df.drop([0,3]))

print('\nDrop rows by conditions')
print(df.drop(df[df['qty'] == 15].index))

print('\nNote that the dataframe is unchanged')
print(df)

###Rename columns

In [ ]:
df.rename(columns={"rack_id": "rack", "qty": "quantity"})

In [ ]:
colnames=list(df.columns)
colnames[4]='rack_no'
df.columns=colnames
df

##Working with Strings

In [ ]:
df = pd.DataFrame({
    'name': ['Apple', 'Apple ', 'pear', 'pear', 'Banana','banana'],
    'color': ['red', 'green', 'green', 'yellow', 'yellow','yellow'],
    'qty': [4, 4, 5, 15, 15,13]
    })

df['name'].str.lower()
df['name'].str.lower().str.strip()

##Duplicate & Unique values

In [ ]:
#check duplication
df = pd.DataFrame({
    'name': ['apple', 'apple', 'pear', 'pear', 'banana','banana'],
    'color': ['red', 'green', 'green', 'yellow', 'yellow','yellow'],
    'qty': [4, 4, 5, 15, 15,13]
    })
print("Duplicate by considering all columns (exact row duplicate)")
print(df.duplicated())
print("\nDuplicate by considering only subsets of columns")
print(df.duplicated(subset=['name','color']))

In [ ]:
#Show the duplicated rows only
print("Duplicate by considering all columns (exact row duplicate)")
print(df.loc[df.duplicated()])

print("\nDuplicate by considering only subsets of columns, show all")
print(df.loc[df.duplicated(subset=['name','color'], keep=False)])

In [ ]:
#drop duplicates
print("Drop exact row duplicates")
print(df.drop_duplicates())

print("\nDrop duplicate by considering only subsets of columns, keeping the last one")
print(df.drop_duplicates(subset=['name','color'], keep='last'))

In [ ]:
#show unique value of a column
print("Unique value of column 'color'")
print(df['color'].unique())

print("\nNumber of unique value of column 'color'")
print(df['color'].nunique())

#show unique value of multiple columns
print("\nUnique value of combined columns 'name' and 'color'")
print(df[['name','color']].drop_duplicates())

##Combining DataFrames

In [ ]:
df = pd.DataFrame({'name':["apple", "banana", "cherry", "lemon", "pear", "strawberry"], 
                   'qty':[10, 20, 30, 40, 50, 10]})
colors = pd.DataFrame({'name':["apple", "banana", "cherry", "pear", "strawberry", "apple"], 
                       'color':['red', 'yellow', 'red', 'green', 'red', 'green']})

pd.merge(df, colors, on='name')

In [ ]:
pd.merge(df, colors, on='name', how='outer')

##Grouping and Aggregation

###Aggregate

In [ ]:
df = pd.DataFrame({
    'name': ['apple', 'apple', 'apple', 'pear', 'pear', 'banana','banana'],
    'color': ['red', 'green', 'green', 'green', 'yellow', 'yellow','yellow'],
    'qty': [4, 4, 5, 6, 15, 15,13.0],
    'price': [10, 10, 15, 20, 25, 15, 15.0]
    })

#single function
print(df.agg(np.sum))
print(df.agg("sum"))

In [ ]:
#multiple functions
print(df.agg(["sum","mean"]))
print(df.agg(["sum"]))

###Grouping DataFrame

In [ ]:
#group by single column
print(df.groupby("color"))

#group by list of column(s)
print(df.groupby(["color"]))
print(df.groupby(["name","color"]))

#iterate on groupby object
grouped=df.groupby(["color"])
for name, group in grouped:
   print(name)
   print(group)

###Aggregate on GroupBy

In [ ]:
#apply function on groupby object
grouped = df.groupby(["name"])
grouped.mean()

In [ ]:
#to get a single indexed result
grouped = df.groupby(["name"], as_index = False) #don't set the grouped columns as index
grouped.agg("mean")

In [ ]:
#another way to get a single indexed result
grouped = df.groupby(["name"])
grouped.agg("mean").reset_index()

In [ ]:
#apply multiple aggregation function
grouped = df.groupby(["name"])
grouped.agg(["mean","sum","max","min"])#.reset_index()

In [ ]:
#named result
grouped = df.groupby(["name"])
grouped.agg(
    min_qty=('qty','min'),
    max_price=('price','max'),
    mean_price=('price','mean')
   )#.reset_index()

##Visualizing Pandas

In [ ]:
df = pd.DataFrame({
    'name': ['apple','apple','apple','pear','pear','banana','banana','cherry','lemon','lemon'],
    'color': ['red','green','green','green','yellow','yellow','yellow','red','yellow','orange'],
    'qty': [4, 4, 5, 6, 15, 15, 13.0, 10, 6, 5],
    'price': [10, 10, 15, 20, 25, 15, 15, 18, 10, 12]
    })

df

In [ ]:
grouped = df.groupby(["color"])
agg1 = grouped.agg(
    avg_price=('price','mean'),
    max_qty=('qty','max'),
   )#.reset_index()
agg1.plot(kind='bar')

In [ ]:
df.plot.bar()

In [ ]:
#df.plot.scatter(x="qty", y="price")
df.plot(x="qty", y="price", kind="scatter")

In [ ]:
df['color'].value_counts()

In [ ]:
df['color'].value_counts().plot(kind='bar')

In [ ]:
df['color'].value_counts().plot.pie()

###Seaborn plot

In [ ]:
sns.countplot(df['color'], palette="plasma")

In [ ]:
sns.scatterplot(x="qty", y="price", data=df)

##I/O Operations

###Save to json

In [ ]:
df = pd.DataFrame({
    'name': ['apple','apple','apple','pear','pear','banana','banana','cherry','lemon','lemon'],
    'color': ['red','green','green','green','yellow','yellow','yellow','red','yellow','orange'],
    'qty': [4, 4, 5, 6, 15, 15, 13.0, 10, 6, 5],
    'price': [10, 10, 15, 20, 25, 15, 15, 18, 10, 12]
    })

df

In [ ]:
df.to_json()#orient='columns')

In [ ]:
df.to_json(orient='split')

In [ ]:
df.to_json(orient='records')

In [ ]:
df.to_json(orient='values')